@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Nanum+Pen+Script&family=Poppins:wght@100;200;300;400;500;600;700&family=Press+Start+2P&display=swap');

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width:100%;
    }

    .iframe {
      width: 100%;
    }

    .ikonit img {
        width: 13%;
    }

li {
    font-size: 20px;
}

.teksti p {
    font-size: 10px;
}

.timeline container {
    width: 50%;
}

.pääkuva img {
    width: 60%;
   margin-left: 80px;
}

}





  * {
    box-sizing:border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #DDECFA;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
}

.center {
    display: block;
    margin: 50px 20px 20px 50px;
  }

ul {
    list-style-type: none;
    margin: 20px;
    padding: 100px;
  }
  
li {
    display: inline;
    letter-spacing: 3px;
  }

a {
    text-decoration: none;
    gap: 100em;
    color: darkgray;
}

.teksti p {
    text-align: center;
    font-size: 40px;
    color: darkgray;
    letter-spacing: 4px;
    text-shadow: 2px 2px white ;
}

p {
    color: darkgray;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
}
.pääkuva {
    width: 100%;

}
.työkokemus {
    width: 300px;
   
}
.työkokemus p {
    color: black;
    text-align: center;
}

.koulutus {
    width: 400px;
}

.yhteystiedot {
    width: 200px;
}

.dropdown-menu {
    border: none;
    background-color: #DDECFA;
}

.ikonit {
display: block;
text-align: center;
}

h4 {
    margin-top: 30px;
    text-align: center;
    letter-spacing: 3px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Caveat Brush', cursive;
    color: white;
    font-size: 100px;
    margin: 10%;
    text-align: center;
}


a {
    color: white;
    text-decoration: none;
  }
  h1 a:hover {
    color: white;
  }



h5 {
    text-align: center;
    color: darkgray;
}

h3 {
    text-align: center;
    color: darkgray;
}

.yhteystiedot {
    width: 100%;
    text-align: center;
}

.yhteystiedot p {
    color: darkgrey;
}


.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  .left {
    left: 0;
  }
  
  .content {
    padding: 20px 30px;
    background-color: #F0F9FD;
    position:relative;
    border-radius: 6px;
  }
  
    .container {
    width: 80%;
    padding-left: 70px;
    padding-right: 25px;
    }

    

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
      
      input[type=submit] {
        background-color: lightskyblue;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: lightblue;
      }
      
      .yhteystiedot {
        border-radius: 5px;
        background-color: #F0F9FD;
        padding: 20px;
      }
